:root {
	--primary: #fff;
	--secondary: #fff;
	--text: #fff;
	--background: #1f1e20;
	--line-color: #e9e6ed;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #1f1e20;
		--line-color: #e9e6ed;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--background);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
